
::before,
::after
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


/* STILE BASE*/
.tw 
{
    color: white;
}

.lineanera
{
    color: black;
    border-top: black 2px solid ;
    margin:30px 40px;
}

body
{
	background-color: white;
}

body, html
{
    font-family: 'Poppins', sans-serif;
	margin: 0;
	height: 100%;
    scroll-behavior: smooth;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}




/* INDEX */

/* Nav */
.navbar 
{
	background-color: transparent;
	padding: 30px 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 1366px;
	z-index: 100;
	
}

.navbar a 
{
	float: left;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	padding: 12px;
    font-weight: 400;
    text-transform: uppercase;
	text-decoration: none;
}

.navbar ul
{
	text-decoration: none;
}

.navbar ul li
{
	display: inline-block;
	text-decoration: none;
}

.navbar .logo 
{
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

.navbar-right a.active 
{
	font-weight: 600;
}

.navbar-right a 
{
	transition: color 0.5s ease;
}

.navbar-right 
{
	float: right;
}

.navbar-right 
{
	 transition: 2s;
}

.navbar .icon 
{
	display: none;
}

.slideshow-container 
{
	position: relative;
	height: 100%;
}

.logo span
{
    font-weight: 400;
}

nav.sopra ul
{
    background: linear-gradient(0deg, rgba(51,51,51,0.9214662063953488) 100%, rgba(255,255,255,0.5060399159663865) 100%);
	border-radius: 10px;
}
nav.sopra .logo
{
    background: linear-gradient(0deg, rgba(51,51,51,0.9214662063953488) 100%, rgba(255,255,255,0.5060399159663865) 100%);
	border-radius: 10px;
}


/* Slide Hero */
.slider
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides
{
    position: absolute;
    width: 300%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 2s ease;
}

.slide
{
    width: 33.33%;
    height: 100%;
    position: relative;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.slide::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.slide:nth-child(1)
{
    background-image: url(./immagini/img1.jpg);
}

.slide:nth-child(2)
{
    background-image: url(./immagini/img2.jpg);
}

.slide:nth-child(3)
{
    background-image: url(./immagini/img3.jpg);
}

.slide-data
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 0 20%;
}

.slide-data h1 
{   
    font-weight: bolder;
    font-size: 45px;
}

.slide-data p 
{
    font-size: 18px;
    margin-bottom: 10px;
}

.slide-data button 
{
    background: none;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px 10px;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.4s linear;
	border-radius: 5px;
	margin-top: 5px;
}

.slide-data button:hover 
{
    color: #000;
    background-color: #fff;
}

.slider .arrows 
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    outline: none;
    border: none;
    font-size: 60px;
    color: #fff;
    transition: 0.4s linear;
}

.slider .arrows:hover 
{
    text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}

.slider .prev 
{
    left: 3%;
}

.slider .next 
{
    right: 3%;
}

.dots 
{
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
}

.dots span 
{
    width: 12px;
    height: 12px;
    border-radius: 100px;
    margin: 0 6px;
    background-color: #fff;
    display: inline-block;
    transition: 0.4s linear;
}

.dots span:hover 
{
    background-color: #000 !important;
    border: 2px solid #fff;
}

.dot-active 
{
    background-color: #000 !important;
    border: 2px solid #fff;
}



/* Galleria */

.galleria 
{
    background-color: #ffffff;
    margin: auto;
    text-align: center;
    
    padding-bottom: 35px;
}

.galleria h2
{
    padding-top: 10px;
    padding-bottom: 4px;
}

.galleria p
{
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

.galleriabox-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}
.galleriabox 
{
    margin: 5px;
    width: calc(33.33% - 10px);
    display: inline-block;
    overflow: hidden;
}

.galleriabox img
{
    width: 100%;
    transition: 0.25s ease-in-out;  
}

.galleriabox:hover img
{
    transform: scale(1.1);
}


/* Panel */

.str4
{
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F0F3F4;
    padding-bottom: 80px;
}

.imagec4 img
{
    width: 100%;
}

.testo4
{
    width: 45%; 
    padding: 15px;
    
}

.imagec4
{
    width: 35%;
}

.map
{
    width: 35%;
}

.mappaattributes
{
    width: 100%;  
    border: 0px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
}
 
.testo4--reverse
{
    text-align: right;
}

.str4--reverse
{
    flex-direction: row-reverse;   
    background-color: white;
}


/* Footer */

.footerpagina
{
    background: #27353a;
    padding: 20px;
    text-align: center;
}

.footerpagina p
{
    color: white;
}

hr
{
    color: white;
}

.medialinks ul 
{
    padding: 0;
    display: flex;
    justify-content: center;  
}

.medialinks ul li 
{
    margin: 0 10px;
    text-decoration: none;
    list-style: none;
    border: 2px solid white;
    border-radius: 50%;

}

.medialinks ul li .fa 
{
    color: white;
    font-size: 25px;
    line-height: 50px;
}

.medialinks a 
{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}


/* Responsive index principale */

@media screen and (max-width: 800px) 
{
	.navbar
    {
		padding: 10px;
	}
	
	.navbar .menu
    {
		display: none;
	}

	.navbar .icon
    {
		display: block;
		position: absolute;
		top: 13px;
		right: 13px;
	}

	.navbar.show 
    {
		background: linear-gradient(0deg, rgba(21,21,21,0.1390931372549019) 0%, rgba(17,17,17,0.7917542016806722) 0%);
        height: 300px;
	}
	
    .navbar.show li
    {
		display: block;
       
	}

	.navbar.show .menu 
    {
		display: block;
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
	}

	.navbar.show .menu a 
    {
        width: 100%;
        margin-bottom: 10px;
        font-size: 20px;
        background: linear-gradient(0deg, rgba(51,51,51,0.9214662063953488) 100%, rgba(255,255,255,0.5060399159663865) 100%);
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
	}

    nav.sopra .icon
    {
		background: linear-gradient(0deg, rgba(51,51,51,0.9214662063953488) 100%, rgba(255,255,255,0.5060399159663865) 100%);
        border-radius: 10px;
	}

    .testo4
    {
        width: 100%;
    }

    .imagec4
    {
        width: 100%;
    }

    .str4
    {
        padding-top: 0px;
    }

    .map
    {
        width: 100%;
    }

    .galleriabox-grid {
        flex-direction: column;
    }

    .galleriabox {
        width: auto;
    }

    .testo4--reverse
{
    text-align: left;
}
}

@media screen and (max-width: 1024px) 
{
    .testo4
    {
        width: 100%;
        text-align: left;
    }

    .imagec4
    {
        width: 100%;
    }
    .str4
    {
        padding-top: 0px;
    }
}




/* DISCOVER BAITE */

/* Split hero*/
.containerdiscover
{
    display: flex;
    flex-wrap: wrap;
}


.boxdiscover
{
    width: 50%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img13.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenutodiscovertext
{
    text-align: center;
    margin: auto;
}

.contenutodiscovertext button
{
    background: none;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px 10px;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.4s linear;
    border-radius: 5px;

}

.contenutodiscovertext h1
{
    font-weight: bolder;
    font-size: 45px;
}

.contenutodiscovertext--winter h1
{
    color: black;
}

.contenutodiscovertext button:hover 
{
    color: #000;
    background-color: #fff;
}

.boxdiscoverwinter
{
    width: 50%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img7.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Grid e Carousel */
.grid
{
    display: flex;
    max-width: 1350px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 70px;
}

.grid 
{
    width: 100%;
}

.col
{
    width: 100%;
}

.main-carousel
{
    padding: 40px 0;
}

.carousel-cell
{
    height: 350px;
    width: 350px;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.carousel-cell h1
{
    color: white;
    text-transform: uppercase;
}

.carousel-cell:nth-child(1)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
    url(./immagini/img8.jpg); 
}

.carousel-cell:nth-child(2)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img4.jpg);
}

.carousel-cell:nth-child(3)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img9.jpg);
}

.carousel-cell:nth-child(4)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img11.jpg);
}

.carousel-cell:nth-child(5)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img10.jpg);
}

.carousel-cell:nth-child(6)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img12.jpg);
}

.carousel-cell--winter:nth-child(1)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img15.jpg);
}

.carousel-cell--winter:nth-child(2)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img5.jpg);
}

.carousel-cell--winter:nth-child(3)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img16.jpg);
}

.carousel-cell--winter:nth-child(4)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img17.jpg);
}

.carousel-cell--winter:nth-child(5)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img18.jpg);
}

.carousel-cell--winter:nth-child(6)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img19.jpg);
}

.carousel-cell:hover h1
{
    transform: scale(1.2)
}


/* Responsive Discover */

@media screen and (max-width: 1024px) 
{
    .boxdiscover
    {
        width: 100%;
        height: 50vh;
    }

    .boxdiscoverwinter
    {
        width: 100%;
        height: 50vh;
    }
    
    .grid
    {
        flex-wrap: wrap;
    }

}





/* BAITE */

/* Libreria */
.titoloservizi h1
{
    background-color: #27353a;
    padding-top: 30px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 30pt;
}

.containerservizi
{
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, #27353a 50%);
    overflow: auto;
    margin: auto;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 35px;
}

.servizibox
{
    padding: 25px;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 30px;
    width: 280px;
    height: 300px;
    text-align: center;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
    border: 2px solid white;
}

.servizibox:nth-child(1)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img29.jpg);
}
.servizibox:nth-child(2)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img30.jpg);
}
.servizibox:nth-child(3)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), 
        url(./immagini/img31.jpg);
}

.slide-data button 
{
    background: none;
    outline: none;
    border-bottom: 2px solid white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #fff;
    font-weight: bolder;
    padding: 10px 3px 2px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.4s linear;
} 

.slide-data button:hover{
    color: #000;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 10px;
}


.slide-data--btn button{
  background: none;
  outline: none;
  border-bottom: 2px solid white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: #fff;
  font-weight: bolder;
  padding: 10px 3px 2px;
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.4s linear;
  border-radius: 0px;
}

.slide-data--btn{
  text-align:left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: #fff;
  padding-left: 10%;
}

.slide-data button:hover 
{
    color: #000;
    background-color: #fff;
}



.numero
{
    width: 60px;
    height: 60px;
    background: #27353a;
    color: #ffffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 15px;
    border: 2px solid white;
    font-size: 10px;
}

.servizibox h2
{
    color: #ffffff;
}




/* Responsive Baite */

@media screen and (max-width: 1024px)
{
    .containerservizi
    {
        background: #27353a;
    }
}


/* CIBO */

.yey{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    place-items: center;
    
}
.containerprova{

    place-items: center;
    width: 90%;
    height: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 60px;
    padding: 35px 0;
}
.contentLeft,
.contentRight{
    width: 100%;
}
.contentLeft .row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.contentLeft .row .imgWrapper{
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.contentLeft .row .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    transition: 0.3s ease;
}
.contentLeft .row .imgWrapper:hover img{
    transform: scale(1.5);
}
.contentLeft .row .imgWrapper:nth-child(odd){
    transform: translateY(-20px);
}
.contentLeft .row .imgWrapper:nth-child(even){
    transform: translateY(20px);
}
.contentRight .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.contentRight .content h4{
    font-size: 22px;
    font-weight: 400;
    color: #d35400;
}
.contentRight .content h2{
   
    color: #1e272e;
}
.contentRight .content p{
   
    color: #343434;
    line-height: 28px;
    padding-bottom: 10px;
}
.contentRight .content a{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 13px 30px;
    color: #fff;
    background: #d35400;
    border-radius: 8px;
    user-select: none;
}

/* Responsive CIBO */

@media(max-width: 768px){
    .containerprova{
        grid-template-columns: 1fr;
    }
    .contentLeft .row{
        grid-template-columns: repeat(2, 1fr);
    }
    .contentLeft .row .imgWrapper{
        height: 150px;
    }
    .contentRight .content h4{
        font-size: 18px;
    }
    .contentRight .content h2{
        font-size: 30px;
    }
}


/* CONTATTI */

/* Section */
  .contatti 
  {
    width: 100%;
    background-image: url(./immagini/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .h1contacts
  {
      text-align: center;
  }

  .container 
  {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 50px;
  }

  .form-group 
  {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }

  .form-group input,
  .form-group textarea 
  {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
  }
  
  textarea 
  {
    resize: vertical;
  }

  button[type="submit"] 
  {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color: rgb(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }

  button[type="submit"]:hover 
  {
    background-color: rgb(214, 226, 236);
  }

  #status 
  {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }

  #status.success 
  {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }

  #status.error 
  {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }

  @keyframes status 
  {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }



iframe{
    display: block;
    margin: 1em auto;
    width: 80%;
    max-height: 288px;
    max-width: 600px;
}
